# Intent-based rasa chatbot:
rasa==3.6.8
rasa_sdk==3.6.2
spacy==3.6.1
de_core_news_sm==3.6.0  # SpaCy German language model
transformers==4.35.2  # Hugging Face's transformers library for BERT

# Intent-less chatbot:
openai==0.28.0
python-dotenv==1.0.0
pywin32==306
langchain==0.0.305

# Tests:
pandas==2.1.0
matplotlib==3.8.1
sentence-transformers==2.2.2
nltk==3.8.1
evaluate==0.4.1
tiktoken==0.5.1
numpy==1.25.2
scikit-learn==1.3.2

#Intent-less chatbot on Microsoft Teams
botbuilder-integration-aiohttp>=4.14.0


